:root {
    --color-amazonite: #00B8A9;
    --color-neon-fuchsia: #F6416C;
    --color-floral-white: #FFFCEB;
    --color-mummys-tomb: #8AA399;
    --color-blue-smoke: #7A918D;

    --color-black: #041B15;
    --color-white: #ffffff;
}
